div
{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    /* background-color: brown; */
    border: 10px solid rgb(218, 175, 175);
    border-top: 10px solid rgb(197, 15, 15);
    position: relative;
    left: 20px;
    top: 20px;
    animation :spin 2s steps(10) 0s infinite normal;
}
@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
body{
    background-color: cadetblue;

}