li{
    /* height: 20px;
    width: 80px;
    display: inline-block; */
    list-style-type:none;
}
ul
{
    border: 3px solid rebeccapurple;
    display: flex;
    border-radius: 30px;
    font-weight: 800;
    justify-content: space-between;
    background-color: rgb(33, 13, 86);
    
}
a{
    text-decoration: none;
    color: antiquewhite;
}
#inner
{
    width: 250px;
    justify-self: center;
    height: 200px;
    background-color:bisque;
    
}
#outer
{
    display: flex;
    height: 250px;
    width: 400px;
    justify-content: center;
    align-items: center;
    background-color: rgb(78, 110, 110);
}
